/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#wp-developers-homepage-settings .nav-tab-wrapper .dashicons {
	position: relative;
	bottom: -0.1em;
	font-size: 1.3em;
}

/* Refresh Buttons
--------------------------------------------- */
.wdh-refresh-button-container {
	float: right;
}

#wp-developers-homepage-settings .spinner {
	display: none;
	float: none;
}

#wp-developers-homepage-settings .spinner.is-active {
	display: inline-block;
}

.wdh-loading-div {
	margin: 1em 0;
}

.wdh-loading-div span {
	margin-top: 0;
	vertical-align: middle;
}

/* Content - Sub Tabs
--------------------------------------------- */
.wdh-ajax-container {
	margin: 1em 0;
}

.wdh-sub-tab-nav {
	font-size: 0;
	border-bottom: none;
}

.wdh-sub-tab-nav .button {
	margin: 0 !important;
}

.wdh-sub-tab-nav .button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.wdh-sub-tab-nav .button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#wp-developers-homepage-settings .nav-tab-wrapper .button .dashicons {
	bottom: 0.09em;
	width: 1.1em;
	height: auto;
	vertical-align: middle;
}

.wdh-sub-tab-container {
	margin: 1em 0;
}

.wdh-sub-tab {
	display: none;
}

.wdh-sub-tab.active {
	display: block;
}

/* Content - Metaboxes
--------------------------------------------- */
.wp-developers-homepage-metaboxes {
	overflow: hidden;
	margin-top: 1em;
}

.wdh-ticket-count {
	float: right;
	margin-right: 1em;
}

.dashicons.wdh-resolved,
li.wdh-resolved .dashicons {
	color: #7ad03a;
}

.dashicons.wdh-unresolved,
li.wdh-unresolved .dashicons,
.wdh-needs-update {
	color: #dd3d36;
}

.wp-developers-homepage-metaboxes .postbox:last-child {
	margin-bottom: 0;
}

/* Content - Table
--------------------------------------------- */
#wp-developers-homepage-settings .tablenav {
	display: none;
}

#wp-developers-homepage-settings .wp-list-table .sorting-indicator {
	display: block;
	opacity: 0;
	filter: alpha(opacity=0);
}

#wp-developers-homepage-settings .wp-list-table th.sorted .sorting-indicator,
#wp-developers-homepage-settings .wp-list-table a:hover .sorting-indicator {
	opacity: 1;
	filter: alpha(opacity=100);
}
